<!Doctype html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{/layout/layout.html}">
<head>
    <title>Resupply RCS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="container-fluid" layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <h2>Please wait for tote...</h2>
            <form id="barcodeForm" action="#" th:action="@{/resupply/tote-arrived}"  method="post">
                <input type="hidden" th:name="inductRequest.toteId" th:id="tote.toteId">
                <input type="hidden" th:name="numberOfTotesLeft" th:id="numberOfTotesLeft" th:value="${numberOfTotes}">
            </form>
        </div>
    </div>

    <script>
        let stompClient = null;

        function connect() {
            let socket = new SockJS('/operator-panel-websocket');
            stompClient = Stomp.over(socket);

            stompClient.connect({}, function (frame) {
                setConnected();
                console.log('Connected: ' + frame);
                stompClient.subscribe('/topic/tote-in-loading-gate', function (totePrototypeResponse) {
                    const totePrototype = JSON.parse(totePrototypeResponse.body);
                    $("#tote\\.toteId").val(totePrototype.tote_id);
                    $("#barcodeForm").submit();
                });
                sendRequest();
            });
        }

        function setConnected() {
            console.log("Connected");
        }

        function setDisconnected() {
            console.log("Disconnected");
        }

        function sendRequest() {
            stompClient.send("/app/wait-for-tote-in-loading-gate", {});
        }

        window.addEventListener("beforeunload", function (e) {
            if (stompClient !== null) {
                stompClient.disconnect();
                setDisconnected();
            }
        }, false);

        $(function () {
            connect();
        });
    </script>
</div>
</body>
</html>